---
layout: default
title: Joel Byler
---

<h3><a name="designer-templates" class="anchor" href="#designer-templates"><span class="octicon octicon-link"></span></a>Open Source Contributions</h3>
{% for post in site.posts %}
  {% if post.categories contains 'career' %}
    {% if post.categories contains 'opensource' %}
    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
    <p>{{post.content}}</p>
    {% endif %}
  {% endif %}
{% endfor %}

<h3><a name="designer-templates" class="anchor" href="#designer-templates"><span class="octicon octicon-link"></span></a>Community</h3>
{% for post in site.posts %}
  {% if post.categories contains 'career' %}
    {% if post.categories contains 'community' %}
    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
    <p>{{post.content}}</p>
    {% endif %}
  {% endif %}
{% endfor %}

<h3><a name="designer-templates" class="anchor" href="#designer-templates"><span class="octicon octicon-link"></span></a>Speaking</h3>
{% for post in site.posts %}
  {% if post.categories contains 'career' %}
    {% if post.categories contains 'speaking' %}
    <h4><a href="{{ post.url }}">{{ post.title }}</a> <span style="float:right;">{{ post.date | date: " %B %-d %Y" }}</span></h4>
    <p>{{post.content}}</p>
    {% endif %}
  {% endif %}
{% endfor %}
